.wrapper {
    width: 95%;
    height:95%;
    left:120px;
    position:absolute;
} 

/* BIG */
.bigcontainer {
      width: 420px;
      height:420px;
      position: relative;
      margin: 10px 10px 10px 10px;
      border: 0px solid #CCC;
      float:left;

      
      -webkit-perspective: 1000px;
         -moz-perspective: 1000px;
           -o-perspective: 1000px;
              perspective: 1000px;          
}
.bigcube {
    cursor:hand;cursor: pointer;
    width: 220px;
    height: 220px;
    position: absolute;
    
      -webkit-transform-style: preserve-3d;
         -moz-transform-style: preserve-3d;
           -o-transform-style: preserve-3d;
              transform-style: preserve-3d;
      -webkit-transition: -webkit-transform 0.3s ease;
         -moz-transition: -moz-transform 0.3s ease;
           -o-transition: -o-transform 0.3s ease;
              transition: transform 0.3s ease;
              
       -webkit-transform: translateZ( -200px );
         -moz-transform: translateZ( -200px );
           -o-transform: translateZ( -200px );
              transform: translateZ( -200px );
}

.bigcube figure {
    margin: 0;
    width: 412px;
    height: 412px;
    display:block;
    position:absolute;
    border: 4px solid black;
}
.bigcube .front  { background: rgba( 0, 0, 0, 1.0  ); overflow:hidden; }
.bigcube .right  { background: rgba( 0, 0, 0, 1.0  ); }
.bigcube .item_img {
    width:auto; 
    height:412px;
    left:-35%;
    position:relative;
}

.bigcube .front  {
      -webkit-transform: translateZ( 210px );
         -moz-transform: translateZ( 210px );
           -o-transform: translateZ( 210px );
              transform: translateZ( 210px );
    }

.bigcube .right {
  -webkit-transform: rotateY(   90deg ) translateZ( 210px );
     -moz-transform: rotateY(   90deg ) translateZ( 210px );
       -o-transform: rotateY(   90deg ) translateZ( 210px );
          transform: rotateY(   90deg ) translateZ( 210px );
}





.container {
      width: 200px;
      height: 200px;
      position: relative;
      margin: 10px 10px 10px 10px;
      border: 0px solid #CCC;
      float:left;
      
      -webkit-perspective: 1000px;
         -moz-perspective: 1000px;
           -o-perspective: 1000px;
              perspective: 1000px;
              

    }

.cube {
    cursor:hand;cursor: pointer;
    width: 100px;
    height: 100px;
    position: absolute;
      -webkit-transform-style: preserve-3d;
         -moz-transform-style: preserve-3d;
           -o-transform-style: preserve-3d;
              transform-style: preserve-3d;
      -webkit-transition: -webkit-transform 0.3s ease;
         -moz-transition: -moz-transform 0.3s ease;
           -o-transition: -o-transform 0.3s ease;
              transition: transform 0.3s ease;
              
       -webkit-transform: translateZ( -100px );
         -moz-transform: translateZ( -100px );
           -o-transform: translateZ( -100px );
              transform: translateZ( -100px );
}

.cube figure {
    margin: 0;
    width: 196px;
    height: 196px;
    display:block;
    position:absolute;
    border: 4px solid black;
}
.cube .front  { background: rgba( 0, 0, 0, 1.0  ); overflow:hidden; }
.cube .right  { background: rgba( 0, 0, 0, 1.0  ); }

.cube .item_img {
    width:auto; 
    height:196px;
    left:-35%;
    position:relative;
}

.cube .front  {
      -webkit-transform: translateZ( 100px );
         -moz-transform: translateZ( 100px );
           -o-transform: translateZ( 100px );
              transform: translateZ( 100px );
    }

.cube .right {
  -webkit-transform: rotateY(   90deg ) translateZ( 100px );
     -moz-transform: rotateY(   90deg ) translateZ( 100px );
       -o-transform: rotateY(   90deg ) translateZ( 100px );
          transform: rotateY(   90deg ) translateZ( 100px );
}





